{% extends 'base.html' %}

{% block title %}Blog de Noticias Jenkis{% endblock %}

{% block content %}
<div class="container">
    <div class="columns is-centered">
        <div class="column is-8">
            <!-- Encabezado -->
            <section class="hero is-primary">
                <div class="hero-body">
                    <div class="container">
                        <h1 class="title is-2">Blog de Noticias Jenkis con kubectl 1.6</h1>
                        <h2 class="subtitle">Lo más reciente en México en la universidad</h2>
                    </div>
                </div>
            </section>

            <hr>

            <!-- Panel Principal -->
            <section class="section">
                <h2 class="title is-3 has-text-centered">Panel Principal</h2>
                <p class="subtitle has-text-centered">Gestiona las noticias y categorías de manera sencilla</p>

                <div class="columns is-centered mt-5">
                    <!-- Administrar Noticias -->
                    <div class="column is-5">
                        <div class="card">
                            <header class="card-header">
                                <p class="card-header-title is-size-4">
                                    Administrar Noticias
                                </p>
                            </header>
                            <div class="card-content">
                                <div class="content">
                                    <p>Crear, modificar y eliminar</p>
                                </div>
                            </div>
                            <footer class="card-footer">
                                <a href="{{ url_for('list_posts') }}" class="card-footer-item button is-primary">
                                    Acceder
                                </a>
                            </footer>
                        </div>
                    </div>

                    <!-- Administrar Categorías -->
                    <div class="column is-5">
                        <div class="card">
                            <header class="card-header">
                                <p class="card-header-title is-size-4">
                                    Administrar Categorías
                                </p>
                            </header>
                            <div class="card-content">
                                <div class="content">
                                    <p>Crear, modificar y eliminar</p>
                                </div>
                            </div>
                            <footer class="card-footer">
                                <a href="{{ url_for('list_categories') }}" class="card-footer-item button is-primary">
                                    Acceder
                                </a>
                            </footer>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}