{% extends 'base.html' %}

{% block title %} Blog de Noticias {% endblock %}

{% block content %}
<div class="columns">
    <div class="column is-offset-3 is-6">
        <!-- Botón para agregar una nueva noticia -->
        <a href="{{ url_for('add_post') }}" class="button is-success">
            <i class="fa-solid fa-plus"></i> &nbsp; Agregar noticia
        </a>
        <br><br>

        <!-- Iterar sobre cada post -->
        {% for post in posts %}
        <div class="card">
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <!-- Título del post -->
                        <p class="title is-4">{{ post.title }}</p>
                        <!-- Categoría del post -->
                        {% if post.category %}
                        <p class="subtitle is-5">{{ post.category.name }}</p>
                        {% endif %}
                    </div>
                </div>

                <!-- Contenido del post -->
                <div class="content">
                    {{ post.content }}
                </div>

                <!-- Botones de acciones (Actualizar y Eliminar) -->
                <div class="buttons">
                    <!-- Botón para actualizar el post -->
                    <a href="{{ url_for('update_post', id=post.id) }}" class="button is-small is-link is-outlined">
                        <i class="fa-solid fa-pen-to-square"></i> &nbsp; Actualizar
                    </a>

                    <!-- Botón para eliminar el post -->
                    <a href="{{ url_for('delete_post', id=post.id) }}" class="button is-small is-danger is-outlined">
                        <i class="fa-solid fa-trash"></i> &nbsp; Eliminar
                    </a>
                </div>
            </div>
        </div>
        <br> <!-- Espacio entre posts -->
        {% endfor %}
    </div>
</div>
{% endblock %}